<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>MyClass</display-name>
    <servlet-name>MyClass</servlet-name>
    <servlet-class>Servlet.MyClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyClass</servlet-name>
    <url-pattern>/MyClass</url-pattern>
  </servlet-mapping>
  <display-name>JFSweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletClassCheck</display-name>
    <servlet-name>ServletClassCheck</servlet-name>
    <servlet-class>Servlet.ServletClassCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClassCheck</servlet-name>
    <url-pattern>/ServletClassCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyValuesServlet</display-name>
    <servlet-name>MyValuesServlet</servlet-name>
    <servlet-class>Servlet.MyValuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyValuesServlet</servlet-name>
    <url-pattern>/MyValuesServlet</url-pattern>
  </servlet-mapping>
</web-app>